
.vscode/

# compiled object files
*.[oa]
!deps/lib/libSDL2.a
!deps/lib/libSDL2_image.a
!deps/lib/liblua.a

# examples
game_config/game_config
game_logic/game_logic
game_loop/game_loop
sol_test/sol_test
timer_test/timer_test
